@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Montserrat&display=swap');

html{
    font-size: 16px;
}

header{
    background-color: #020402;
    width: 100%;
    height: 100px;
    top: 0;
}

a{
    color: #C6DEC6;
    font-family: "Montserrat";
}

a:hover{
    color: #758173;
    font-family: "Montserrat";
}

h2{
    font-family: "EB Garamond";
    color: #A9C5A0;
}

.cardbackground{
    background-color: #758173;
}

h3{
    color: #C6DEC6;
    font-family:"EB Garamond";
}

h5 {
    color: #A9C5A0;
    font-family:"EB Garamond";
}

.buttonbackground{
    background-color: #A9C5A0;
    border: #A9C5A0;
    font-family: "Montserrat";
}

.buttonbackground:hover{
    background-color: #758173;
    border: #758173;
    font-family: "Montserrat";
}

p{
    font-family: "Montserrat";
}

