@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Montserrat&display=swap');

html{
    font-size: 16px;
    font-family: "Montserrat";
}

header{
    background-color: #020402;
    width: 100%;
    height: 100px;
    top: 0;
    margin: 25px;
}

a{
    color: #C6DEC6;
    font-family: "Montserrat";
}

a:hover{
    color: #A9C5A0;
    font-family: "Montserrat";
}

h1{
    font-family: "EB Garamond";
    color: #4F824F;
    font-size: 2rem;
}


h2{
    color: #C6DEC6;
    font-family:"EB Garamond";
    font-size: 1.75rem;
}

h3 {
    color: #4F824F;
    font-family:"EB Garamond";
    font-size: 1.4rem;
}

.paragraphfix {
    color: #4F824F;
    font-family:"EB Garamond";
    font-size: 1.4rem;
}

.img {
    float: left;
    padding: 25px;
    height: 325px;
    width: 250px;
}

.cardbackground{
    background-color: #020402;
}

.buttonbackground{
    background-color: #020402;
    border: #020402;
    font-family: "Montserrat";
    color: #C6DEC6;
}

.buttonbackground:hover{
    background-color: #C6DEC6;
    border: #C6DEC6;
    font-family: "Montserrat";
    color: #020402;
}

.hidden
{
   display: none
}
